### Create tuple litral 
### Tupple litral can be cerated using the () bracket in which data is enclosed or using tuple() constructor we can create the tuple litral
### Tuple can hold differnt data type
### Tuple is immutable that means we cannot modify contains of tupple
### Tuple is orderd that means tuple data has index values starts from 0 to onwards

In [5]:
simple_tuple=(1,2,"sameer",'Learnig','Python','3.5')
print(simple_tuple)

(1, 2, 'sameer', 'Learnig', 'Python', '3.5')

In [12]:
tuple_constructor=tuple((1,2,3,"Sameer",3.44,True)) #create tuple using constructor
print(tuple_constructor)
for x in tuple_constructor:
    print(type(x))

(1, 2, 3, 'Sameer', 3.44, True)
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [15]:
#try to update tuple
sample_tuple=(1,2,3,4,5)
print(sample_tuple[0])
sample_tuple[0]=10         #this will generate an error TypeError: 'tuple' object does not support item assignment

1

TypeError: 'tuple' object does not support item assignment

In [16]:
#use tupple in for loop directly
for x in tuple(range(1,10)): #create a tuple of range 1 to 10 
    print(x)

1
2
3
4
5
6
7
8
9

In [53]:
n=int(input('Enter number of element in tuple:'))
s_tuple=(1,2,3,4)
print(s_tuple[-1])  #negative index also works in tuple

Enter number of element in tuple:5
4

In [21]:
#tuple slicing
x_tuple=(1,2,3,4,'Sameer','Loves',"cats")
new_tuple=x_tuple[3:5]                    #sliciing
print(new_tuple)

(4, 'Sameer')

In [22]:
reverse_tuple=x_tuple[::-1] #reverse slicing
print(reverse_tuple)

('cats', 'Loves', 'Sameer', 4, 3, 2, 1)

In [30]:
some_tuple=x_tuple[-1:3:-1] #postive negative slicing start from -1 index and till 3 index in -1 means reverse order
print(some_tuple)

('cats', 'Loves', 'Sameer')

In [34]:
#using filter function in map lambda
lambda_tuple=tuple(filter(lambda x:type(x)==type(""),x_tuple)) #filter only that values form tuple which has datatype class str
print(lambda_tuple)

('Sameer', 'Loves', 'cats')

In [39]:
x_tuple=(1,2,3,4,5)
y_tuple=('Sameer',"Ramesh","shinde",'Sakarwadi',"Kopargaon")
new_tuple=tuple(map(lambda x,y:str(x)+y,x_tuple,y_tuple))    #map the vales of x_tuple and y_tuple and attach it
print(new_tuple)

('1Sameer', '2Ramesh', '3shinde', '4Sakarwadi', '5Kopargaon')

In [45]:
from functools import reduce
num1_tuple=(2,2,3,4,5)
num2_tuple=tuple((1,2,3,4,5))
reduced_tuple=(reduce(lambda x,y:x+y,num1_tuple))
print(reduced_tuple)

16

### How lists are different from tuple
### The biggest difference between list and tuple is lists are mutable and tuples are immutable
### The second difference is that the lists has dynamic size it can be extends as we append new element but the tuple size is static it stores only element which we have inserted at the time of initilization further modifications are not possible

In [46]:
list_exe=[1,2,3,4,'Sameer']
print(list_exe)
list_exe[2]="new element"    #<-- This statement is invalid in tuple that the we cannot modify the values once inserted
print(list_exe)

[1, 2, 3, 4, 'Sameer']
[1, 2, 'new element', 4, 'Sameer']

In [51]:
temp_exe=[1,2,3,4,5,6]
temp_exe[1:4]=range(10,13)   #<-- Slicing the list and assigning new value in range
print(temp_exe)

SyntaxError: invalid syntax (<ipython-input-51-f73039cc5264>, line 2)

### Slcing of the list

In [69]:
temp_list=[1,2,3,'Sameer','Shinde',7.5,11,5,True]
first_two=temp_list[:2]
print(first_two)
last_tow=temp_list[-2::]
print(last_tow)
middle_list=temp_list[1:len(temp_list)-1]
print(middle_list)
reverse_slice=temp_list[::-1]
print(reverse_slice)
negative_slicing=temp_list[-4:-2] #getting element from -4 index to -2 index
print(negative_slicing)

[1, 2]
[5, True]
[2, 3, 'Sameer', 'Shinde', 7.5, 11, 5]
[True, 5, 11, 7.5, 'Shinde', 'Sameer', 3, 2, 1]
[7.5, 11]

In [94]:
from datetime import datetime
today=date.today()
print(today)
print(datetime.now())#get both date and time time along with hrs min sec and milisec
print(datetime.ctime(datetime.now())) #return the date in string literral return day month and date and time

2021-01-05
2021-01-05 11:18:20.206930
Tue Jan  5 11:18:20 2021

### While loop with break and continue statement

In [6]:
x=0
while x<10:
    if x==7:
        break
    elif x==5:
        x+=1
        continue
    else:
        print('Iteration number:{0}'.format(x))
    x+=1

Iteration number:0
Iteration number:1
Iteration number:2
Iteration number:3
Iteration number:4
Iteration number:6

### Selection sort

In [3]:
n=int(input('Enter number of element in list:'))
l=[]
for x in range(0,n):
    l.append(int(input()))
for i in range(0,len(l)):
    temp=i
    for j in range(i+1,len(l)):
        if l[temp]>l[j]:
            temp=j
    l[i],l[temp]=l[temp],l[i]
print(l)

Enter number of element in list:3
22
11
5
[5, 11, 22]